body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face {
  font-family: 'SFArchRivalRegular';
  src: local('SFArchRivalRegular'),
      url('./fonts/SFArchRival/SFArch-Rival.ttf') format('truetype');
}

@font-face {
  font-family: 'SFArchRivalItalic';
  src: local('SFArchRivalItalic'),
      url('./fonts/SFArchRival/SFArch-Rival-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SFArchRivalBoldItalic';
  src: local('SFArchRivalBoldItalic'),
      url('./fonts/SFArchRival/SFArch-Rival-Bold-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SFArchRivalBold';
  src: local('SFArchRivalBold'),
      url('./fonts/SFArchRival/SFArch-Rival-Bold.ttf') format('truetype');
}

